@{
    ViewBag.Title = "Confirmation MDP oublié";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="navbar-brand">
        <svg role="presentation" class="logo img-fluid"><use xlink:href="~/Content/assets/images/sprite.svg#gefco_logo"></use></svg>
    </div>
</div>
<div class="auth-box card">
    <div class="card-block">
        <div class="row m-b-20">
            <div class="col-md-12">
                <h3 class="text-left">@ViewBag.Title</h3>
            </div>
        </div>
        <div class="form-group form-primary">
            <label class="float-label">Vous pouvez vérifier votre boite mail pour réinitialiser votre mot de passe.</label>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p class="text-inverse text-left m-b-0">Merci.</p>
                <br/>
                <p class="text-inverse text-left"><a href="@Url.Action("Index", "Home")"><b>Retour à la page de connexion</b></a></p>
            </div>
        </div>
    </div>
</div>
@section scripts
{
<script>
    $(".auth-box.card button.btn-primary").on("click", function (e) { e.preventDefault(); window.location = "@Url.Action("Login","Account")" });
</script>
}